* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #ddd;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


ul {
    padding: 0;
}

/* Navigation */
nav , footer  {
    background: linear-gradient(135deg, #2d5016, #4a7c25);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.navbar-nav .nav-item .nav-link {
    color: #ddd !important;
}


.navbar-collapse.show {
    position: absolute;
    top: 100%; /* juste sous la navbar */
    left: 0;
    z-index: 1000; /* pour passer devant le contenu */
}

.container-fluid {
    position: relative;
    width: 92%;
}

.logo {
    width: 65%;
}

.logo img{
    height: 4.5em;
    margin-right: 0.625em;
}

.logo h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Footer */
footer {
    background: #2d5016;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

footer a {
    color: #a8d982;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 992px) {
    .navbar-toggler {
        color: #ddd;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }

    .navbar { 
        position: relative; 
    }

      /* TOUTES les étapes du collapse doivent être hors flux */
    .navbar-collapse,
    .navbar-collapse.collapse,
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1000;
    }

    .navbar-collapse.collapsing {
        height: auto !important;
        transition: none !important;
        overflow: visible !important;
    }

    .navbar-collapse.collapse {
    display: block !important;   /* on gère l'affichage autrement */
    visibility: hidden;
    }
    .navbar-collapse.show,
    .navbar-collapse.collapsing {
        visibility: visible;
    }

    .navbar-nav {
        background-color: #4a7c25;
        align-items: center;
        max-width: 45%;
        border-radius: 10px;
        border: 1px solid #dddddd6d;
        color: #ddd;
        margin-left: auto;
    }
} 